{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% include 'partials/menu.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-3">Sidebar</div>
        <div class="col-9">
            <h1>{{page_title}}</h1>
    </div>
</div>
{% endblock %}
